[submodule "external/MixedRealityToolkit-Unity"]
	path = external/MixedRealityToolkit-Unity
	url = https://github.com/microsoft/MixedRealityToolkit-Unity
	branch = mrtk_development
	ignore = dirty
[submodule "external/ARCore-Unity-SDK"]
	path = external/ARCore-Unity-SDK
	url = https://github.com/google-ar/arcore-unity-sdk
	ignore = dirty
[submodule "samples/SpectatorView.Example.Unity/sv"]
	path = samples/SpectatorView.Example.Unity/sv
	url = https://github.com/microsoft/MixedReality-SpectatorView.git
